.Container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 180px;
  width: 180px;
  max-height: 100%;
  padding: 0 0.75rem;
  margin-top: 1.5rem;

  -webkit-app-region: no-drag;
}

.Tabs {
  width: 100%;
  > * + * {
    margin-top: 1rem;
  }
}

.ProfileContainer {
  margin-top: auto;
}

.ProfileAvatar {
  cursor: pointer;
  border: 1px solid var(--color-borders);
}

.SidebarAccordionSection {
  :global(.AccordionHeader .title) {
    font-size: 12px;
  }

  :global(.ListItem-button) {
    padding: 0;
    min-height: 0;
  }
}

.NewWorkspaceInput {
  margin-left: -0.25rem;
}

.WorkspacesLoading {
  padding-left: 0.5rem;
  font-size: 12px;
  color: var(--color-text-secondary);
}