.Selector {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-default-tiny);

  font-size: 13px;
  color: var(--color-text-secondary);

  &:hover {
    background-color: var(--color-background-secondary);
  }

  &.selected {
    color: var(--color-text-default);
    background: var(--color-background);
    transition: all 0.15s ease;
  }

  i {
    font-size: 1rem;
    color: var(--color-links);
  }
}

.ProfileSelectorContainer {
  margin-top: auto;
  margin-left: -1rem;
}

.ListItem {
  :global(.ListItem-button) {
    min-height: unset !important;
    padding: 0 !important;
  }

  :global(.Chat .ListItem-button) {
    padding: 0.25rem 0.5rem !important;
  }
}



