.Accordion {
  width: 100%;
}

.AccordionHeader {
  width: 100%;
  height: 1.875rem;
  padding: 0 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;

  border-radius: var(--border-radius-default-tiny);
  font-weight: var(--font-weight-medium);
  transition: all 0.15s ease;

  &:hover {
    background-color: var(--color-chat-hover);

    i {
      opacity: 1 !important;
    }
  }

  &.highlighted {
    background-color: var(--color-telegram-blue);

    i {
      color: white;
      &:hover {
        color: var(--color-telegram-blue);
        background-color: white;
      }
    }

    .title {
      color: white;
    }

    .leftIconContainer {
      background-color: transparent;

      i {
        color: white;
      }
    }
  }

  &.renaming:hover {
    background-color: transparent;
  }

  .title {
    font-size: 0.875rem;
    color: var(--color-text-secondary);
  }

  i {
    padding: 0.125rem;
    border-radius: var(--border-radius-default-tiny);
    color: var(--color-text-secondary);
    transition: font-size 0.15s ease;

    &.icon-down {
      font-size: 14px;
      transition: all 0.15s ease;
    }

    &:hover {
      background-color: var(--color-borders);
    }

    &.rotate {
      transform: rotate(-90deg);
    }
  }

  

  .actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;

    i {
      opacity: 0;
    }
  }
}

.leftIconContainer {
    height: 2rem;
    min-width: 2rem;
    display: grid;
    place-content: center;
    border-radius: var(--border-radius-forum-avatar);
    background-color: rgba(var(--color-links-rgb), 0.1);
    cursor: pointer;

    transition: background-color 0.15s ease-in-out;

    i {
      color: var(--color-links);
    }
  }



.AccordionInner {
  &.expanded {
    margin-top: 1px;
    padding-bottom: 0.5rem;

    > * + * {
      margin-top: 1px;
    }
  }

  &.withPadding {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
  }

  .placeholder {
    margin-left: -0.5rem;
    text-align: center;
    font-size: 12px;
    color: var(--color-text-secondary);
  }
}

.AccordionHeaderOnRename {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  background-color: transparent !important;

  .leftIcon {
    color: var(--color-links);
  }

  input {
    width: 100%;
    padding-left: 0.5rem;
    border: none;
    border: 1px solid transparent;
    border-radius: var(--border-radius-default-tiny);

    font-size: 0.875rem;

    background: var(--color-button);
    outline: none;
    caret-color: var(--color-links);

    &::placeholder {
      font-size: 0.875rem;
    }
  }
}

.rotateDownIcon {
  transition: transform 0.15s ease;
  transform: rotate(-90deg);
}